<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" link_to root_path>Kick the Tires</a>
      <%#= link_to "Kick the tires", root_path, id: "logo" %>
      <%= link_to image_tag("Tyres-32.png"), root_path, :id =>"site_image" %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
    </div>
  </div>
</header>